{
  "extends": "airbnb",
  "rules": {
    "no-unused-expressions": 0,
    "space-infix-ops": 0,
    "default-case": 0,
    "no-else-return": 0,
    "new-cap": 0,
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    }
  },
}
